body {
  background-color: #000;
}

#console {
  font-family: hack, monospace;
  color: #00ffec;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 16px;
  overflow-x: hidden;
  padding-bottom: 50px;
}

a {
  color: #ff00cc;
  text-decoration: none;
}

a:hover{
  color: #21ff25;
  text-shadow:0px 0px 30px #21ff25;;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

h1{
  color: #00ffec;
  text-align: center;
}

.a {
  color: #21ff25;
}

.c {
  color: #8EA8FF;
}

.b {
  color: #00ffec;
}

.op {
  color: #888888;
}

.stars{
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   animation: glow 5s ease-in-out infinite;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

p{
  line-height: 30px;
}

