{{ define "styles" }}
<link rel="stylesheet" href="/preflight.css">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/posts.css">
{{ end }}

{{ define "main" }}
<main>
    {{ .Content }}
    <div class="section">
        <h2>all posts</h2>
        <ul class="contents">
        {{ range sort (where .Paginator.Pages "Section" "log") ".File.BaseFileName" "desc" }}
            <li class="list-item">
                <a class="chrono-list-entry" href="{{ .Permalink }}">
                    <div class="chrono-list">
                        <span class="chrono-list-date">{{ .File.BaseFileName }}</span>
                        <span class="chrono-list-label">{{.Title}}</span>
                    </div>
                    <span class="summary">{{ .Description }}</span>
                </a>
            </li>
        {{ end }}
        </ul>
    </div>
</main>
{{ end }}
