<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
    {{ template "_internal/opengraph.html" . }}
    {{ block "styles" . }}
        <link rel="stylesheet" href="/preflight.css">
        <link rel="stylesheet" href="/main.css">
    {{ end }}
    {{ block "seo" . }}
    {{ end }}
  </head>
  <body>
    {{ block "header" . }}
    <header class="section">
        {{ partial "navigation.html" . }}
    </header>
    {{ end }}

    {{ block "main" . }}
    {{ end }}
  </body>
</html>
