{{ define "seo" }}
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">
{{ end }}

{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "styles" }}
<link rel="stylesheet" href="/preflight.css">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/post.css">
{{ end }}

{{ define "header" }}
<header class="section">
    {{ partial "navigation.html" . }}
    <div class="section">
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
    </div>
</header>
<hr>
{{ end }}

{{ define "main" }}
<main>
  {{ .Content }}
  <footer id="site-footer" class="section">
  {{ range .Site.Menus.socials }}
      <a href="{{ .URL }}" title="{{ .Title }}">
      {{- .Name -}}
      </a>
  {{ end }}
  </footer>
</main>
{{ end }}