<div class="section">
    <h2>recent posts</h2>
    <hr>
    <ul class="contents">
    {{ range where (where .Paginator.Pages "Section" "posts") ".Params.hidden" "ne" true | first 10 }}
        <li class="list-item">
            <a class="chrono-list-entry" href="{{ .Permalink }}">
                <div class="chrono-list">
                    <span class="chrono-list-date">{{ .Date | time.Format "2006-01-02" }}</span>
                    <span class="chrono-list-label">{{ .Title }}</span>
                </div>
            </a>
        </li>
    {{ end }}
    </ul>
    <span class="seemore">
        <a href="/posts">see more</a>
    </span>
</div>