{{ define "styles" }}
<link rel="stylesheet" href="/preflight.css">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="/donut.css">
{{ end }}

{{ define "seo" }}
<meta property="og:image" content="{{ .Site.BaseURL }}embed.png" />
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": "{{ .Site.BaseURL }}embed.png",
    "creditText": "Alexander Bhasin",
    "creator": {
        "@type": "Organization",
        "name": "Alexander Bhasin"
    },
    "copyrightNotice": "Alexander Bhasin"
}
</script>
{{ end }}

{{ define "header" }}
<header class="section">
    {{ partial "navigation.html" . }}
    <div id="hero" class="section">
        <h1>{{ .Params.title }}</h1>
        <p>{{ .Site.Params.description }}</p>
    </div>
</header>
{{ end }}

{{ define "main" }}
<main aria-role="main">
    <div class="content-container">
        {{ .Content }}
        {{ partial "recent_posts.html" . }}
        <footer id="site-footer" class="section">
        {{ range .Site.Menus.socials }}
            <a href="{{ .URL }}" title="{{ .Title }}">
            {{- .Name -}}
            </a>
        {{ end }}
        </footer>
        {{ partial "donut.html" . }}
    </div>
</main>
{{ end }}
