.list-item:hover {
    background-color: var(--gray-accent-color);
}

a.chrono-list-entry {
    color: var(--text-color);
    text-decoration: none;
}

div.chrono-list {
    display: flex;
    justify-content: space-between;
}

span.chrono-list-date {
    overflow: hidden; 
    white-space: nowrap;
}

.chrono-list-label {
    flex-shrink:0;
    overflow: hidden; 
    white-space: nowrap;
    padding-left: 1ch;
}

span.chrono-list-date:after {
    content:" . . . . . . . . . . . . . . . . . . . . . . . . ."
}

span.seemore > a {
    text-decoration: underline;
    display: block;
    color: var(--link-color);
}

span.seemore > a:hover {
    background-color: var(--gray-accent-color);
}

span.seemore > a:before {
    display:inline-block;
    content: "[";
}

span.seemore > a:after {
    display:inline-block;
    content: "]";
}

p, hr { 
    margin-bottom: 2ch;
}
