main > ul, main > ol {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 2ch;
}

ul:last-of-type {
    list-style-position: outside;
}

li {
  display: list-item;
  text-align: match-parent;
}

main > ul > li:before {
    content: "- ";
    position: absolute;
    text-indent: -2ch;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
}

main > p
{ 
    margin-bottom: 1ch;
}

main > ol 
{
    margin-left: 2ch;
}

ol 
{
    counter-reset: list;
    position: relative;
}

ol > li {
    list-style: none;
}
ol > li:before {
    content: "("counter(list) ")";
    counter-increment: list;
    position:absolute;
    left: -2ch;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

hr {
    margin-bottom: 1ch;
}

blockquote {
  background: #f9f9f9;
  margin: 0.5em 0;
  padding: 0.5em 10px;
  font-style: italic;
}

blockquote p {
  display: inline;
}

pre {
    margin-bottom: 1ch;
    padding: 1ch;
    background-color: black;
    color: var(--bg-color);
    border-radius: 4px;
    overflow-x: scroll;
}

code {
    color: var(--bg-color);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px 2px;
}